
<div class ="awesome-box col-xs-6 col-xs-offset-3 text-center" style="margin-top: 200px; padding-bottom: 10px"> 	
	<h1>
		Advice is Awesome !!!
	</h1>

	<br>

	<button type="button" class ="btn btn-danger">Launch</button>
	
</div>