<div class ="awesome-box col-xs-6 col-xs-offset-3 text-center" style="margin-top: 200px; padding-bottom: 10px"> 
	<h1>The best life tips...</h1>	
	<h2>
		"
		<%= @quote.saying %>
		"
		- 
		<%= @quote.author %></h2>

</div>